@page "{postId:int}"
@model IndexModel

@{
    ViewData["Title"] = Model.Post!.Title;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-text mb-0">@Model.Post!.Title</h3>
                    @if (Model.CanEdit)
                    { 
                        <a class="btn btn-info" asp-page="/Post/Edit" asp-route-postId="@Model.Post!.PostId">Edit</a>
                    }
                </div>
                <div class="card-body">
                    <p class="card-text" style="white-space: pre-wrap;">@Model.Post!.Content</p>
                </div>
                <div class="card-footer text-end text-muted">
                    <a class="text-decoration-none text-muted" asp-page="/Index" asp-route-userId="@Model.Post!.AuthorId">
                        @Model.Post!.AuthorName
                    </a> - @Model.Post!.CreatedAt.ToString("MMM dd, yyyy h:mm tt")
                </div>
            </div>
        </div>
    </div>
</div>
